.box{
    width: 520px;
    margin:0px auto;
    height: 1000px;
    padding:5px;
    background-color: grey;
}
.menu{
    background-color: aqua;
    position: fixed; 
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.menu a {
    margin: 25px;
}

.infor_panel{
    background-color: wheat;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;
    text-align: center;    
}